@media screen and (max-width: 600px) {
    #aboutTitle {
        font-size:1.5rem;
    }
}

.fas{
    font-size: 1em !important;
    color: white;
}


@media screen and (min-width: 600px) {
    .aboutDeveloperText {
        font-family: 'Inconsolata';
        font-size:0.8rem !important;
    }
}
@media screen and (max-width: 600px) {
    .aboutDeveloperText {
        font-family: 'Inconsolata';
        font-size:1.5vh !important;
    }
}