

*{
    font-family: 'Inconsolata';
    color:white;

}

.formFields {
    border-radius: 0 !important;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.formFields:focus:valid{
    background: transparent !important;
    color:white;
}

input.form-control:focus {
    border-color:white;
    box-shadow: none;
}

.registerBtn{
    /* border:1px solid white; */
    
    background-color: transparent;
    width: 100%;
    border-bottom: none;
}

.registerBtn:hover{
    background-color:rgba(255,255,255,0.3) !important;
    color:white;
    border: 1px solid white;
    border-bottom: none;
    transition: 0.2s linear;
   
}

/* custom styling */

/* make whole form look good */

.formBox{
    background-color:transparent ;
    color:white;
    border-radius:2%;  
    border: 1px solid white;

    /* katai smooth shadow */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    
    /* /*  */
    
}

/* custom place holder color */

::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder{
    color:rgb(255, 0, 0);
}

/* checkboxes */
.f{
    background: transparent;
    color:white;
}

.f option{
    color:black;

}

.fCheckBox{
    background:transparent;
}

